

<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/base.css">{{!-- a pasta public esta na pasta raiz entao eu so preciso colocar o nome da pasta do css --}}

    <title>Prática Handlebars</title>

</head>



<body>

    <header>

        <h1>Filmes e muito mais!</h1>

        {{> menu }}

    </header>

    <main>

        {{{ body }}}

    </main>

    <footer>

        <p>&copy; Amanda Leal 2025.</p>

    </footer>

</body>



</html>


